<div class="login-container">
  <img src="assets/logo.png" alt="Logo" class="logo">
  <h2>Bienvenido, {{email}}</h2>
  <div class="button-group">
    <button (click)="registrarEntrada()" class="btn btn-primary">Registrar Entrada</button>
    <button (click)="registrarSalida()" class="btn btn-secondary">Registrar Salida</button>
  </div>
  
  <div class="form-group">
    <label for="nuevaContrasena">Nueva Contraseña:</label>
    <input type="password" id="nuevaContrasena" [(ngModel)]="nuevaContrasena" class="input">
    <button (click)="actualizarContrasena()" class="btn btn-primary">Actualizar Contraseña</button>
  </div>
  
  <p class="message" [ngClass]="{'success': message?.includes('exitosamente'), 'error': message?.includes('Error')}">{{ message }}</p>
</div>
