/* Estilos globales */
::ng-deep body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 500px;
}

/* Contenedor de administración */
.admin-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 600px;
  text-align: center;
  border-top: 10px solid #d32f2f; /* Línea superior roja */
}

/* Logo */
.logo {
  width: 230px;
}

/* Encabezado */
.admin-container h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 28px;
}

.form-section h2 {
  margin-top: 20px;
  margin-bottom: 15px;
  color: #333;
  font-size: 22px;
}

/* Grupo de botones */
.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Formulario */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Botones */
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: #d32f2f; /* Rojo */
  color: white;
}

.btn-primary:hover {
  background-color: #b71c1c;
}

.btn-secondary {
  background-color: #757575; /* Gris */
  color: white;
}

.btn-secondary:hover {
  background-color: #616161;
}

/* Mensaje */
.message {
  margin-top: 15px;
  color: #d32f2f; /* Rojo */
}
ul{
  list-style-type: none;
}
