<div class="login-container">
  <img src="assets/logo.png" alt="Logo" class="logo">
  <h2>Login Admin</h2>
  <form (ngSubmit)="onSubmit()" class="login-form">
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="email" id="correo" [(ngModel)]="credentials.correo" name="correo" required>
    </div>
    <div class="form-group">
      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" [(ngModel)]="credentials.contrasena" name="contraseña" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p *ngIf="message" class="message">{{ message }}</p>
  <button (click)="navigateToUser()" class="btn btn-secondary">Ir a Login Usuario</button>
</div>
